.right-red-square {
  display: grid;
  width: 35%; /* Defines the width of the square */
  height: 75%; /* Defines the height of the square */
  background-color: red;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
}
