.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: rgb(44, 108, 128);
  margin: auto;
  border: 5px solid rgb(15, 64, 97);
  transition: transform 0.2s ease;
}

.horizontal-plus,
.vertical-plus {
  position: absolute;
  background-color: #ffffff;
}

.horizontal-plus {
  width: 50%;
  height: 12%;
}

.vertical-plus {
  width: 12%;
  height: 50%;
}

.circle:hover {
  transform: scale(1.08);
  cursor: pointer;
}
